@import url(https://fonts.googleapis.com/css?family=Sonsie+One);

h1, h2, h3, h4, h5, h6 {
  font-family: "Sonsie One";
}

body {
  height: auto !important;
}

section {
  margin-bottom: 50px;
}

nav {
  margin-bottom: 25px;
}

#header {
  height: 250px !important;
  background: linear-gradient(to right,#4c4c33, #b8b894) !important;
  width: 100%;
  transition: 0.5s all ease;
}

#header.shrink {
  height: 75px !important;
  transition: 0.5s all ease;
}

.navbar-brand {
  position: absolute;
  top: 10px;
}

#header-text {
  font-family: 'Sonsie One';
  margin: none;
  text-align: center;
  color: rgba(255,255,255, 0.65);
  position: absolute;
  width: 70%;
  top: 120px;
  left: 15%;
  transition: 0.5s all ease;
}

#header-text > small {
  color: rgba(255, 255, 255, 0.65);
}

.move {
  top:5px !important;
  transition: 0.5s all ease;
}

.navbar-nav {
  width: 100%;
  text-align: center;
}

.navbar-nav > li {
  float: none;
  display: inline-block;
}

/* #feature-img */

#body-content {
  padding-top: 325px;
  transition: 0.2s all ease;
}

#body-content.body-move {
  padding-top: 175px;
  transition: .5s all ease;
}

#feature-img {
  text-align: center;
}

/* artist-info */

#artist-info {
  min-height: 500px;
}

section > h2:after {
  content: "";
  height: 1px;
  width: 40%;
  background-color: #b8b894;
  display: block;
  margin: 10px auto 0 auto;
}

#event-info {
  height: 500px;
}

#contact {
  height: 500px
}
